.section4 {
  background-color: $white;
  padding-top: 110px;
  padding-bottom: 70px;

  .section4__logo {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      font-family: $font-yeseva;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      text-transform: uppercase;
      color: $black;
    }

    img {
      margin: 20px 0;
    }

    p {
      width: 50%;
      margin-bottom: 30px;
      font-size: 20px;
      line-height: 27px;
      text-align: center;
      color: $black;
    }
  }

  .section4__types {
    width: 100%;
    padding: 0 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .section4__item {
    width: 31%;
    height: 400px;
    position: relative;
    z-index: 2;
    &:first-of-type {
      background-image: url("../assets/img/item-1.png");
    }
    &:nth-of-type(2){
      background-image: url("../assets/img/item-2.png");
    }
    &:last-of-type{
      background-image: url("../assets/img/item-3.png");
    }

    .item__description {
      position: absolute;
      width: 86%;
      background-color: $white;
      left: 7%;
      top: 295px;

      .item__text {
        padding: 20px 0 40px 30px;

        h4 {
          margin-bottom: 10px;
          font-family: $font-yeseva;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 25px;
          text-transform: capitalize;
          color: $black;
        }

        li {
          margin-left: 20px;
          font-size: 15px;
          line-height: 25px;
          color: #959595;
          &:before {
            content: '';
            position: absolute;
            background-color: #959595;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            left: 31px;
          }
        }
      }

      .item__price {
        position: absolute;
        bottom: -27px;
        width: 228px;
        height: 54px;
        background-color: $sand;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          font-family: $font-yeseva;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 25px;
          text-transform: uppercase;
          color: $white;
        }
      }

    }








  }


}









